:root {
  --input-color: #99A3BA;
  --input-border: #CDD9ED;
  --input-background: #fff;
  --input-placeholder: #CBD1DC;

  --input-border-focus: #275EFE;

  --group-color: var(--input-color);
  --group-border: var(--input-border);
  --group-background: #EEF4FF;

  --group-color-focus: #fff;
  --group-border-focus: var(--input-border-focus);
  --group-background-focus: #678EFE;

  }
  .form-field {
    display: block;
    width: 100%;
    padding: 8px 16px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    border-radius: 6px;
    -webkit-appearance: none;
    color: var(--input-color);
    border: 1px solid var(--input-border);
    background: var(--input-background);
    transition: border 0.3s ease;
  }
  .form-field::placeholder {
    color: var(--input-placeholder);
  }
  .form-field:focus {
    outline: none;
    border-color: var(--input-border-focus);
  }

  .form-group {
    position: relative;
    display: flex;
    width: 100%;
  }
  .form-group > span,
  .form-group .form-field {
    white-space: nowrap;
    display: block;
  }
  .form-group > span:not(:first-child):not(:last-child),
  .form-group .form-field:not(:first-child):not(:last-child) {
    border-radius: 0;
  }
  .form-group > span:first-child,
  .form-group .form-field:first-child {
    border-radius: 6px 0 0 6px;
  }
  .form-group > span:last-child,
  .form-group .form-field:last-child {
    border-radius: 0 6px 6px 0;
  }
  .form-group > span:not(:first-child),
  .form-group .form-field:not(:first-child) {
    margin-left: -1px;
  }
  .form-group .form-field {
    position: relative;
    z-index: 1;
    flex: 1 1 auto;
    width: 1%;
    margin-top: 0;
    margin-bottom: 0;
  }
  .form-group > span {
    /* min-width: 125px; */
    text-align: center;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 25px;
    color: var(--group-color);
    background: var(--group-background);
    border: 1px solid var(--group-border);
    transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
  }
  .form-group:focus-within > span {
    color: var(--group-color-focus);
    background: var(--group-background-focus);
    border-color: var(--group-border-focus);
  }
  select {
    height: inherit !important;
    border-radius: 6px 0 0 6px !important;
    cursor:pointer;
  }
  html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  }

  * {
    box-sizing: inherit;
  }
  *:before, *:after {
    box-sizing: inherit;
  }

  body {
    min-height: 100vh;
    font-family: "Mukta Malar", Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #F5F9FF;
  }
  body .form-group {
    /* max-width: 360px; */
    max-width: 100%;
  }
  body .form-group:not(:last-child) {
    /* margin-bottom: 32px; */
    margin-bottom: 0.5rem;
    padding: 0;
  }
  .popup{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
  }
  .body-popup{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 1rem;
  }
  .body-popup .subtitle:first-child{
    margin-bottom: 0.5rem;
  }
  /* Button 1 */
  .newbtn{
    border-radius: 5px !important;
    padding: 8px 16px !important;
    box-shadow: 0px 2px 3px rgb(0 0 0 / 45%);
    border: none !important;
    /* border: 1px solid #CCC !important; */
    text-transform: uppercase;
    color: white !important;
    position: relative;
    width: 30% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 1rem; */
    cursor:pointer;
    outline: none;
    transition: all ease 1s;
    /* margin-bottom: 1rem; */
  }
  
  .btn-second{
    background: rgb(0,82,156);
    background: linear-gradient(166deg, rgba(0,82,156,1) 22%, rgba(129,164,196,1) 170%, rgba(162,185,206,1) 100%);
  }
  .btn-cancel{
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(217,222,225,1) 0%, rgba(154,168,175,1) 0%, rgba(101,122,133,1) 100%);
  } 
  .btn-second:hover{
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(44,130,171,1) 0%);
  }
  .btn-second:focus{
    box-shadow: 0 0 0 3px #678EFE;
    outline: none;
  }
  .btn-cancel:hover{
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(124,144,153,1) 0%);
  }
  .btn-cancel:focus{
    box-shadow: 0 0 0 3px #ccc;
    outline: none;
  }
  header{
    width: 100%; 
    background-color: #E6E6E6; 
    padding: 1rem 0; 
    display:flex;
    justify-content:center;
  }
  header p {
    margin:0; 
    font-size: 16px;
    font-weight: bold;
    font-family: Arial;
    color: #4a4949;
  }
  .body-popup .subtitle{
    width:100%; 
    text-align:left; 
    /* padding-bottom: 1rem;  */
    font-weight: 500;
  }
  .body-popup .subtitle p{
    margin:0; 
    font-size:14px;
    color:#4a4949;
    font-weight: bold;
  }
  .fields-wrapper{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
  }
  .name-wrapper{
    display:flex;
    margin-bottom: 0.5rem;
    /* border-bottom: 1px solid #E6E6E6; */
    
  }
  .name-wrapper div{
    padding: 0 !important;
    margin: 0 !important;
  }
  .name-wrapper .form-group:first-child{
    margin-right:0.5rem !important;
  }
  
  /* Changes Name 2.0*/
  .form-group > span{
    min-width: auto;
  }
  .form-group > .span-125width{
    min-width: 130px;
  }
  #ui-datepicker-div{
    z-index: 9999999 !important;
  }
  .date-wrapper{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: bold;
    width: 100%;
  }
  .margin-0 {
    margin-left: 0 !important;
    font: 16px 'FiraSans-Medium';
    margin-bottom: 0 !important;
  }
  .amount:before {
    content: '$';
  }
  .green {
    margin-left: 0 !important;
    font: 16px 'FiraSans-Medium';
    margin-bottom: 0 !important;
    border: 2px solid #1aa997;
    color: #1aa997;
    border-radius: 5px;
    padding: 0px 4px;
    padding: 1rem 2rem;
    margin-top: 1rem;
    font: 20.52px 'FiraSans-Regular';
  }
  .center-buttons{
    width: 100%;
    display:flex;
    margin-top: 0.5rem;
    justify-content: center;
  }
  .center-buttons button:first-child{
    margin-right: 0.5rem;
  }
  #check-itinerary .pop-content{
    padding: 1rem;
  }
  @media(max-width:1024px){
    .newbtn{
      width: 100% !important;
    }
    .popup{
      width: 100%;
      /* padding: 0 1rem; */
    }
    .body .form-group{
      max-width: 360px;
    }
    .fields-wrapper{
      margin-bottom: 0.5rem;
      border-bottom: 1px solid #E6E6E6;
    }
    .name-wrapper{
      display:flex;
      flex-direction: column;
    }
    .name-wrapper .form-group:first-child {
      margin-bottom: 0.5rem !important;
    }
  }
  @media(max-width:768px){
    .center-buttons{
      flex-direction: column;
    }
    .center-buttons button:first-child{
      margin-bottom: 0.5rem;
    }
    .body-popup{
      max-height: 400px;
      overflow: auto;
      display: block;
      margin-bottom: 1rem;
    }
    .popup{
      width: 100%;
      /* padding: 0 1rem; */
    }
    .fields-wrapper{
      margin-bottom: 0.5rem;
      border-bottom: 1px solid #E6E6E6;
    }
    .name-wrapper{
      display:flex;
      flex-direction: column;
    }
    .name-wrapper .form-group:first-child {
      margin-bottom: 0.5rem !important;
    }
  }
  @media (max-width:480px){
    .form-group > span{
      font-size: 12px !important;
    }
    .form-group > .span-125width{
      min-width: 122px !important;
    }
  }